*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo img{
    height: 90px;
    width: auto;

}
.navbar{
    display: flex;
    align-items: center; 
    padding: 20px;
    background-color: skyblue;

}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: iniline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: blue;
}


.category {
   background-color: rgb(64, 64, 64);
   padding: 0px 90px;
}

.category ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.category ul li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 15px ;
    transition: all 0.3s ease;
}

.category ul li a:hover{
    color: rgb(64, 64, 64);
    background-color:white;
}


.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}






.row{
    display: flex;
}


.col-2 img{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px ;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 p{
    font-size: 20px ;
}

.btn{
    display: inline-block;
    background: skyblue;
    color: navy;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}














